@import "tailwindcss";

@theme {
  --color-primary: #303392;
  --color-secondary: #E31E24;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-[#F5F7FA] dark:bg-slate-950 text-[#1A1A1A] dark:text-slate-50 antialiased;
    font-family: 'Outfit', system-ui, sans-serif;
  }
}